main {
  width:100%; /*Ocupa todo o espaço disponível*/
}

main ul{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  list-style: none;
}

@media (max-width:600px){
  main ul {
    grid-template-columns: 1fr;
  }
}
